<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>typescript interface to element-plus user interface</title>
  </head>
  <body>
    <div class="main">
      <textarea id="input"></textarea>
      <div class="operator">
        <button onClick="toTable()">Table&gt;&gt;</button>
        <button onclick="toForm()">Form&gt;&gt;</button>
        <button onClick="toValiate()">Validate Rule&gt;&gt;</button>
        <button onClick="toDefaultValue()">DefaultValue&gt;&gt;</button>
      </div>
      <textarea id="output"></textarea>
    </div>
    <script>
      const input = document.getElementById("input");
      const output = document.getElementById("output");

      const str = `
            export interface CustomerDto {
                /**
                 * id
                 * @type {string}
                 * @memberof CustomerDto
                 */
                'id'?: string;
                /**
                 * 创建时间
                 * @type {string}
                 * @memberof CustomerDto
                 */
                'gmtCreated'?: string;
                /**
                 * 更新时间
                 * @type {string}
                 * @memberof CustomerDto
                 */
                'gmtModified'?: string;
                /**
                 * 删除标志
                 * @type {number}
                 * @memberof CustomerDto
                 */
                'isDelete'?: number;
                /**
                 * 昵称
                 * @type {string}
                 * @memberof CustomerDto
                 */
                'nickname'?: string;
                /**
                 * 名称
                 * @type {string}
                 * @memberof CustomerDto
                 */
                'name'?: string;
                /**
                 * 性别; 1--男 0--女 2--保密
                 * @type {number}
                 * @memberof CustomerDto
                 */
                'gender'?: number;
                /**
                 * 头像
                 * @type {string}
                 * @memberof CustomerDto
                 */
                'avatar'?: string;
                /**
                 * 电话
                 * @type {string}
                 * @memberof CustomerDto
                 */
                'telephone'?: string;
                /**
                 * 生日
                 * @type {string}
                 * @memberof CustomerDto
                 */
                'birthday'?: string;
                /**
                 * 个性签名
                 * @type {string}
                 * @memberof CustomerDto
                 */
                'synopsis'?: string;
                /**
                 * 类型;1--自然注册 2--推荐注册
                 * @type {number}
                 * @memberof CustomerDto
                 */
                'type'?: number;
                /**
                 * 推荐人
                 * @type {string}
                 * @memberof CustomerDto
                 */
                'recommendId'?: string;
                /**
                 * 注册城市
                 * @type {string}
                 * @memberof CustomerDto
                 */
                'city'?: string;
                /**
                 * 等级;1--会员
                 * @type {number}
                 * @memberof CustomerDto
                 */
                'level'?: number;
                /**
                 * 宠物数量
                 * @type {number}
                 * @memberof CustomerDto
                 */
                'petNum'?: number;
            }
            `;

      input.innerHTML = str;

      // prettier-ignore
      const regex = /\/\*\*\s*\n\s*\*\s*(.*?)\s*\n\s*\*\s*@type\s*\{(.*?)\}\s*\n\s*\*\s*@memberof\s*(.*?)\s*\n\s*\*\/\s*\n\s*'?(.*?)'?\?:\s*(.*?);/g;

      class Model {
        constructor(
          comment = "",
          type = "",
          interfaceName = "",
          fieldName = "",
          fieldType = ""
        ) {
          this.comment = comment;
          this.type = type;
          this.interfaceName = interfaceName;
          this.fieldName = fieldName;
          this.fieldType = fieldType;
        }
      }

      function getFields(text) {
        const lines = text.split("\n");
        let out = [];
        let match;
        while ((match = regex.exec(text)) !== null) {
          out.push(new Model(match[1], match[2], match[3], match[4], match[5]));
        }
        return out;
      }

      function toTable() {
        const fields = getFields(input.value);
        const template = [];
        template.push(
          `<el-table-column type="index" label="序列" align="center" width="80" />`
        );
        for (const field of fields) {
          if (field.comment.includes(";")) {
            const { label, options } = getLabelAndEnumsValueFromComment(
              field.comment
            );
            template.push(
              `<el-table-column prop="${field.fieldName}" label="${label}" width="120">`,
              `  <template #default="{ row: { ${field.fieldName} } }">`,
              `    <SmartEnum :options="${options}" :model-value="${field.fieldName}" />`,
              `  </template>`,
              `</el-table-column>`
            );
          } else if (
            field.fieldName.includes("Pic") ||
            field.fieldName.includes("avatar")
          ) {
            template.push(
              `<el-table-column prop="${field.fieldName}" label="${field.comment}" width="120">`,
              `  <template #default="{ row: { ${field.fieldName} } }">`,
              `    <SmartImage :src="${field.fieldName}" class="w-4 h-4" />`,
              `  </template>`,
              `</el-table-column>`
            );
          } else if (field.fieldName.endsWith("Id")) {
            template.push(
              `<el-table-column prop="${field.fieldName}" label="${field.comment}" width="120">`,
              `  <template #default="{ row: { ${field.fieldName} } }">`,
              `    <SmartEnum :model-value="${field.fieldName}" value-field="name" auto-load :load-method="(): any => ({data: {records: [{ id: 1, name: 'AAA' },{ id: 2, name: 'BBB' }]}})"/>`,
              `  </template>`,
              `</el-table-column>`
            );
          } else if (
            field.fieldName.includes("gmt") ||
            field.fieldName.includes("Time")
          ) {
            template.push(
              `<el-table-column prop="${field.fieldName}" label="${field.comment}" width="120">`,
              `  <template #default="{ row: { ${field.fieldName} } }">`,
              `    <FormaterDateTime :model-value="${field.fieldName}" />`,
              `  </template>`,
              `</el-table-column>`
            );
          } else {
            template.push(
              `<el-table-column prop="${field.fieldName}" label="${field.comment}" width="120" />`
            );
          }
        }
        output.innerHTML = template.join("\n");
      }

      function getLabelAndEnumsValueFromComment(commnet) {
        const [label, enums] = commnet.split(";");
        const options = enums.replace(
          /(-?\d+)([^\d]*)(?=\s|$)/g,
          `{ id: $1, value: '$2' },`
        );
        return { label, options: `[${options}]` };
      }

      function toForm() {
        const fields = getFields(input.value);
        const template = [];
        for (const field of fields) {
          if (field.comment.includes(";")) {
            const { label, options } = getLabelAndEnumsValueFromComment(
              field.comment
            );
            template.push(
              `<el-form-item prop="${field.fieldName}" label="${label}">`,
              `  <SmartSelect :options="${options}" v-model="state.model.${field.fieldName}" />`,
              `</el-form-item>`
            );
          } else if (field.fieldName.endsWith("Id")) {
            template.push(
              `<el-form-item prop="${field.fieldName}" label="${field.comment}">`,
              `  <SmartSelect v-model="state.model.${field.fieldName}" value-field="name" auto-load :load-method="(): any => ({data: {records: [{ id: 1, name: 'AAA' },{ id: 2, name: 'BBB' }]}})"/>`,
              `</el-form-item>`
            );
          } else {
            //prettier-ignore
            template.push(
                    `<el-form-item prop="${field.fieldName}" label="${field.comment}">`,
                    `  <${getInputType(field.fieldType,field.fieldName)} v-model="state.model.${field.fieldName}" placeholder="${field.comment}" />`,
                    `</el-form-item>`
                  );
          }
        }
        output.innerHTML = template.join("\n");
      }

      function toDefaultValue() {
        const fields = getFields(input.value);
        const template = [];
        for (const field of fields) {
          template.push(
            `${field.fieldName}: ${getDefaultValue(field.fieldType)},`
          );
        }
        output.innerHTML = template.join("\n");
      }

      function getDefaultValue(type) {
        switch (type) {
          case "string":
            return '""';
          case "number":
            return 0;
          case "boolean":
            return false;
          case "Date":
            return "new Date()";
          default:
            return '""';
        }
      }

      function getInputType(type, name) {
        if (name.startsWith("gmt") || name.includes("Time")) {
          return 'el-date-picker type="date" value-format="YYYY-MM-DD"';
        } else {
          // existing conditions...
          switch (type) {
            case "string":
              return "el-input";
            case "number":
              return "el-input-number";
            case "boolean":
              return "el-switch";
            case "Date":
              return 'el-date-picker value-format="YYYY-MM-DD"';
            default:
              return "el-input";
          }
        }
      }

      function toValiate() {
        const fields = getFields(input.value);
        const template = [];
        for (const field of fields) {
          template.push(
            `${field.fieldName}: [`,
            `  { required: true, message: "${field.comment}不能为空", trigger: "blur" },`,
            `],`
          );
        }
        output.innerHTML = template.join("\n");
      }
    </script>
    <style>
      html {
        color-scheme: light dark;
      }

      body {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 0;
        padding: 0;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        display: flex;
      }

      .main {
        flex: 1 1 0;
        display: flex;
        flex-direction: row;
        overflow: hidden;
      }

      .main textarea {
        flex: 1 1 0;
      }

      .main .operator {
        display: flex;
        padding: 10px;
        gap: 10px;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
      }
    </style>
  </body>
</html>
